@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@700&display=swap');
*{
   margin: 0;
   padding: 0;
}
body{
    /*background-image: url(cool-website-background-05.jpg);*/
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50%;
}
.navbar{
    display: flex;
}
.navList{
   width: 50%;
   /*background-color: beige;*/
   display: flex;
   align-items: center;
}
.navList li{
   list-style: none;
   padding: 46px 29px;
   font-size: 25px;
   font-family: 'Anuphan', sans-serif;

}
.navList li a:hover{
    text-decoration: underline ;
    text-underline-offset: 20px;
    text-decoration-thickness: 5px;
    color: red;
    
}
.navList li a{
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.rightNav{
    /*background-color: #7d2a8a;*/
    width: 50%;
    text-align: right;
}
#Search{
    padding: 5px;
    font-size: 20px;
    border-radius: 20px;
}
.background{
    background: rgba(0, 0, 0,0.77 ) url('background.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSector{
    height: 85vh;
}
.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondHalf{
    width: 30%;

}
.mainBox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anuphan', sans-serif;
}